<html>

<head>
<title>上传用户信息</title>


<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

</style>
















</head>
<body bgcolor="#d0d0d0">
<ul>
  <li><a href="/i">插入</a></li>
  <li><a href="/s">查询</a></li>

</ul>
<p>提交信息</p>
<p>我们不会使用JavaScript和cookies,只有一个HTML静态页面</p>
<p>请注意保护自己的ip地址不被泄露</p>



<form  method='POST'>
人名: <input type="text" name="name"><br>
年龄: <input type="int" name="age"><br>
住址:<input type="text" name="homeaddress"><br>
毕业学校:<input type="text" name="school"><br>
学历:<input type="text" name="xueli"><br>
身份证:<input type="text" name="IDcard"><br>

性别:<input type="text" name="sex"><br>
QQ:<input type="text" name="QQ"><br>
微信:<input type="text" name="wechat"><br>
手机号码:<input type="text" name="phonenumber"><br>
telegram:<input type="text" name="telegram"><br>
工作:<input type="text" name="work"><br>
犯罪:<input type="text" name="fanzui"><br>
亲属:<input type="text" name="relatives"><br>
<input type="submit" name="submit">
</form>
</body>
</html>